# Core
fastapi
uvicorn
gunicorn
pydantic
pydantic-settings
python-dotenv
certifi

# Database
motor
bson

# AI & Processing
google-generativeai
PyPDF2
pytesseract
Pillow
numpy
pandas
scikit-learn

# Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Utilities
httpx
python-multipart
